<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Conatct-List</h1>
    <ul>
        <% for(let i of contactList) { %>
            <li>
                <%= i.name %> &nbsp;&nbsp;&nbsp;&nbsp;
                <%= i.phone %>
                <a href="/delete/?id=<%= i._id %>">
                    <button>Delete Contact</button>
                </a>
            </li>
        <% } %>
    </ul>
    <form action="/create" method="post">
        <input type="text" name="name" id="" placeholder="Enter your name here">
        <input type="number" name="phone" id="" placeholder="Enter phone number">
        <button type="submit"> Submit</button>
    </form>
</body>
</html>